<br />

<h1><%= icon('fas', 'user-secret') %> Política de Privacidade</h1>
<br />

<p>
<strong>
Atualizado em: 21/08/2019
</strong>
</p>

<strong><em>E-mail</em></strong>
<p>
O Tablet Z somente usa o endereço de <em>e-mail</em> enviado a este site para enviar a newsletter do Tablet Z.
</p>
<p>
Em hipótese alguma seu endereço de <em>e-mail</em> será vendido, negociado ou alugado.
</p>
<p>
O endereço de <em>e-mail</em> não é fornecido a ninguém, a menos que isso seja necessário, com o pleno conhecimento do usuário, para realizar um serviço solicitado por ele; ou que, de boa fé, o Tablet Z julgue que a divulgação deste é razoavelmente necessária para detectar problemas técnicos ou de segurança e evitar fraudes; ou para satisfazer quaisquer leis ou normas aplicáveis.
</p>

<strong><em>Cookies</em></strong>
<p>
O Tablet Z não coleta nem armazenam nenhuma informação pessoal por meio de <em>cookies</em>. No entanto alguns programas de afiliados parceiros podem usar <em>cookies</em> neste site.
</p>
<p>
Esses parceiros incluem a Amazon e Google Adsense.
</p>
<p>
Suas redes ou servidores de publicidade usam de tecnologia que, a partir do momento que você clica em um link ou banner deles no Tablet Z, estes links enviam <em>cookies</em> (ou tecnologia semelhante) e recebem o seu endereço IP. O objetivo é medir a efetividade da publicidade deles e/ou personalizar o conteúdo publicitário que você vê.
</p>
<p>
O Tablet Z não tem acesso ou controle sobre esses <em>cookies</em>.
</p>
<p>
Você deveria consultar as respectivas políticas de privacidade desses parceiros para obter informações mais detalhadas sobre suas práticas e instruções de como você pode bloquear seus <em>cookies</em>.
</p>
<p>
Você pode desabilitar os <em>cookies</em> pelas opções de configuração do seu navegador. Mais detalhes sobre como lidar com <em>cookies</em> em navegadores específicos podem ser encontrados nos respectivos sites dos navegadores.
</p>
<p>
Se for necessário fazer uma mudança na política de privacidade do Tablet Z, estas serão colocadas nesta página para que você esteja sempre ciente das informações que são coletadas e como são utilizadas.
</p>