<br />

<h1><%= icon('fas', 'gavel') %> Termos de Uso</h1>
<br />

<p>
<strong>
Atualizado em: 21/08/2019
</strong>
</p>

<p>
O Tablet Z tem por missão ajudar você a decidir qual é o melhor o melhor tablet, celular smartphone, computador desktop ou note(laptop).
</p>
<p>
Fique à vontade para ler e compartilhar o conteúdo com outros por direcioná-los ao Tablet Z. Mas, por favor, pedimos que não você reproduza o conteúdo dele por meio impresso ou eletrônico (em outros sites ou aplicativos).
</p>
<p>
E aqui está o motivo:
</p>
<p>
O conteúdo do Tablet Z é redigido com cuidado após muita pesquisa e por isso está protegido pela lei da propriedade intelectual (lei nº 9.610, de 19 de Fevereiro de 1998). Assim por acessar o Tablet Z você concorda inteiramente com o regulamento desta lei e com as condições expostas a seguir.
</p>
<p>
Se você não concorda com esta lei e do que é descrito aqui, seja completamente ou em parte, não acesse este site.
</p>
<p>
<strong>Você pode:</strong>
</p>
<ul>
<li>Visualizar os textos, imagens e vídeos deste site.</li>
<li>Compartilhar links com pessoas interessadas.</li>
<li>Fazer comentários construtivos que vão agregar à comunidade do Tablet Z.</li>
</ul>
<p>
<strong>Você não pode:</strong>
</p>
<ul>
<li>Postar, distribuir ou reproduzir por meio impresso e eletrônico o conteúdo publicado no Tablet Z.</li>
<li>Duplicar, copiar, derivar trabalho ou usar de qualquer outro modo o conteúdo publicado neste site.</li>
</ul>
<p>
Se você violar qualquer uma destas condições acima, o Tablet Z se reserva no direito de tomar as medidas legais necessárias.
</p>
<p>
Estes termos entrarão em vigor no momento em que forem publicados no site. O Tablet Z elege o foro de Joinville, em Santa Catarina, Brasil, para resolver qualquer disputa relacionada a estes termos.
</p>
<p>
Qualquer atualização a estes termos poderão ser encontrados nesta página. Estes termos e a lei de propriedade intelectual resumem o acordo legal entre o Tablet Z e você. Qualquer acordo anterior relacionado ao uso deste site está anulado.
</p>